# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
api/venv/

# Azure Functions (local)
local.settings.json
.python_packages/

# OS / Editor
.DS_Store
Thumbs.db
*.log

# Azurite local emulator
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__blobstorage__/**
